.container-get{
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding-top: 30px;
    justify-content: center;
    flex-flow: column-reverse;
  }
  
  .get{
    display: flex;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #242342;
    min-height: 380px;
    margin: 20px;
    
  }
  
  .card{
    display: flex;
    background-color:#2E2D4E;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  .his-table{
    display: flex;
    flex-direction: column;
  }
  
  .his-table-produtos{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  .his-titulo{
    font-size: 20px;
    padding: 5px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  .his-titulo-totais{
    font-size: 23px;
    padding: 5px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  .his-valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    gap: 40px;
  }
  
  .his-totais{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    min-width: 300px;
    min-height: 320px;
    border-radius: 10px;
    background-color: #2E2D4E;
    margin-top: 15px;
  }
  
  .his-valor-totais{
    color: #63dc5d;
    font-size: 23px;
  }
  
  .his-valor-totais-troco{
    color: #dc6a5d;
    font-size: 23px;
  }
  
  .his-valor-totais-tipo{
    color: #bfc442;
    font-size: 23px;
  }
  
  .titulo-venda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#2E2D4E;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    margin-top: 15px;
  }
  
  .titulo-venda>h1{
    font-size: 12px;
  }

  .buttons-vendas{
    display: flex;
    flex-direction: column;
  }
  
  .button-trash-vendas{
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
  }
  
  .button-edit-vendas{
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    height: 35px;
    & img{
      height: 35px;
      width: 30px;
    }
  }